/*Breakpoints */
.testing {
  width: 71.42857%; }

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  list-style-type: none; }

body {
  display: grid;
  grid-template-columns: 225px auto 360px;
  overflow-x: hidden; }
  @media only screen and (min-width: 690px) and (max-width: 800px) {
    body {
      grid-template-columns: 150px auto 220px; } }
  @media only screen and (min-width: 800px) and (max-width: 900px) {
    body {
      grid-template-columns: 150px auto 220px; } }
  body #sidebar {
    position: fixed;
    grid-column: 1 / -4;
    grid-row: 1 / 4;
    background-color: #000b18;
    width: 225px;
    height: 100vh;
    color: #a9a9a9; }
    body #sidebar #logo {
      margin: 15px 35px; }
    body #sidebar ul {
      margin-top: 0px;
      padding-left: 15px;
      list-style-type: none; }
      body #sidebar ul li {
        vertical-align: middle;
        font-weight: 500;
        font-size: 0.875rem; }
        body #sidebar ul li svg {
          position: relative;
          top: 24px;
          margin-right: 14px;
          height: 60px; }
        body #sidebar ul li.active {
          color: #fff; }
        body #sidebar ul li a {
          text-decoration: none;
          color: inherit; }
    body #sidebar #logout {
      position: relative;
      top: 510px;
      padding-left: 15px;
      font-size: 14px; }
      body #sidebar #logout svg {
        position: relative;
        top: 5px;
        margin-right: 10px; }
      body #sidebar #logout a {
        text-decoration: none;
        color: inherit; }
  @media only screen and (min-width: 690px) and (max-width: 800px) {
    body #sidebar {
      width: 150px; }
      body #sidebar #logo {
        width: 65%; }
      body #sidebar ul {
        margin-top: 0px;
        padding-left: 15px;
        list-style-type: none; }
        body #sidebar ul li {
          vertical-align: middle;
          font-weight: 500;
          font-size: 0.77rem; }
          body #sidebar ul li svg {
            position: relative;
            top: 16px;
            margin-right: 14px;
            height: 50px; }
          body #sidebar ul li.active {
            color: #fff; }
          body #sidebar ul li a {
            text-decoration: none;
            color: inherit; }
      body #sidebar svg {
        height: 17px; }
      body #sidebar:hover {
        cursor: pointer; }
      body #sidebar #logout {
        position: relative;
        top: 520px;
        padding-left: 15px;
        font-size: 0.77rem; }
        body #sidebar #logout svg {
          position: relative;
          top: 5px;
          margin-right: 10px; }
        body #sidebar #logout a {
          text-decoration: none;
          color: inherit; } }
  @media only screen and (min-width: 800px) and (max-width: 900px) {
    body #sidebar {
      width: 150px; }
      body #sidebar #logout {
        top: 48%; }
      body #sidebar #logo {
        width: 65%; }
      body #sidebar ul {
        margin-top: 0px;
        padding-left: 15px;
        list-style-type: none; }
        body #sidebar ul li {
          vertical-align: middle;
          font-weight: 500;
          font-size: 0.77rem; }
          body #sidebar ul li svg {
            position: relative;
            top: 16px;
            margin-right: 14px;
            height: 50px; }
          body #sidebar ul li.active {
            color: #fff; }
          body #sidebar ul li a {
            text-decoration: none;
            color: inherit; }
      body #sidebar svg {
        height: 17px; }
      body #sidebar:hover {
        cursor: pointer; }
      body #sidebar #logout {
        position: relative;
        top: 520px;
        padding-left: 15px;
        font-size: 0.77rem; }
        body #sidebar #logout svg {
          position: relative;
          top: 5px;
          margin-right: 10px; }
        body #sidebar #logout a {
          text-decoration: none;
          color: inherit; } }
  body #header {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / 4;
    grid-row: 1;
    width: 100%;
    height: 80px;
    background-color: #dcdcdc; }
    body #header #menu {
      margin: 26px 15px 15px 15px; }
    body #header :hover {
      cursor: pointer; }
    body #header .header-icons svg {
      padding: 0 6px 5px 0;
      margin: 25px 36px 15px 5px; }
  @media only screen and (min-width: 690px) and (max-width: 800px) {
    body #header {
      display: flex;
      justify-content: space-between;
      grid-column: 2 / 4;
      grid-row: 1;
      width: 100%;
      height: 80px;
      background-color: #dcdcdc; }
      body #header #menu {
        margin: 26px 15px 15px 15px; }
      body #header :hover {
        cursor: pointer; }
      body #header .header-icons svg {
        padding: 0 5px 4px 0;
        margin: 25px 30px 15px 2px; } }
  @media only screen and (min-width: 800px) and (max-width: 900px) {
    body #header {
      display: flex;
      justify-content: space-between;
      grid-column: 2 / 4;
      grid-row: 1;
      width: 100%;
      height: 80px;
      background-color: #dcdcdc; }
      body #header #menu {
        margin: 26px 15px 15px 15px; }
      body #header :hover {
        cursor: pointer; }
      body #header .header-icons svg {
        padding: 0 5px 4px 0;
        margin: 25px 30px 15px 2px; } }
  body #main-content {
    grid-row: 2;
    grid-column: 2; }
    body #main-content #filter {
      display: inline-flex;
      flex-direction: row;
      vertical-align: middle;
      width: 100%;
      height: 80px;
      border-bottom: 2.8px solid #dcdcdc;
      flex-direction: row; }
      body #main-content #filter svg#funnel {
        margin: 23px 10px 0 20px;
        height: 29px; }
      body #main-content #filter p {
        font-weight: 500;
        margin-top: 30px; }
      body #main-content #filter input {
        margin-top: 18px;
        margin-left: 25px;
        height: 40px;
        width: 190px;
        font-size: 14px;
        font-weight: 500; }
      body #main-content #filter #add-filter {
        position: relative;
        left: 63%;
        background-color: #27a678;
        margin: 13px 20px 0 0;
        border-radius: 2px;
        height: 55px;
        width: 55px;
        border: none; }
        body #main-content #filter #add-filter:hover {
          cursor: pointer; }
        body #main-content #filter #add-filter svg {
          height: 30px; }
    body #main-content #article-list {
      margin: 30px 0 0 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0px; }
      body #main-content #article-list #left-column,
      body #main-content #article-list #right-column {
        width: 480px; }
        body #main-content #article-list #left-column .article,
        body #main-content #article-list #right-column .article {
          padding: 20px 20px;
          border: 2px solid #dcdcdc;
          height: 85px;
          width: 445px;
          margin-bottom: 20px; }
          body #main-content #article-list #left-column .article:hover,
          body #main-content #article-list #right-column .article:hover {
            cursor: pointer; }
          body #main-content #article-list #left-column .article .article-date,
          body #main-content #article-list #right-column .article .article-date {
            color: #a9a9a9;
            font-size: 0.8rem;
            font-weight: 500; }
          body #main-content #article-list #left-column .article .article-title,
          body #main-content #article-list #right-column .article .article-title {
            color: #000;
            text-transform: capitalize;
            font-size: 1.4rem;
            font-weight: 500;
            margin-top: 1px;
            margin-bottom: 3px; }
          body #main-content #article-list #left-column .article .author,
          body #main-content #article-list #right-column .article .author {
            color: #ddcb37;
            font-size: 0.8rem;
            font-weight: 500; }
          body #main-content #article-list #left-column .article .edit,
          body #main-content #article-list #right-column .article .edit {
            position: relative;
            left: 101%;
            bottom: 90px;
            border: 2px solid #dcdcdc;
            background-color: #fff;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            border-radius: 50%; }
            body #main-content #article-list #left-column .article .edit svg,
            body #main-content #article-list #right-column .article .edit svg {
              padding: 4px 0 0 4px;
              height: 17px; }
            body #main-content #article-list #left-column .article .edit:hover,
            body #main-content #article-list #right-column .article .edit:hover {
              cursor: pointer; }
          body #main-content #article-list #left-column .article .delete,
          body #main-content #article-list #right-column .article .delete {
            position: relative;
            left: 101%;
            bottom: 80px;
            border: 2px solid #dcdcdc;
            background-color: #fff;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            z-index: 1000; }
            body #main-content #article-list #left-column .article .delete svg,
            body #main-content #article-list #right-column .article .delete svg {
              padding: 6px 0 0 4px;
              height: 16px; }
            body #main-content #article-list #left-column .article .delete:hover,
            body #main-content #article-list #right-column .article .delete:hover {
              cursor: pointer; }
  @media only screen and (min-width: 690px) and (max-width: 800px) {
    body #main-content #filter svg#funnel {
      margin: 30px 10px 0 20px;
      height: 19px; }
    body #main-content #filter p {
      font-weight: 500;
      font-size: 0.87rem;
      margin-top: 32px; }
    body #main-content #filter input {
      margin-top: 29px;
      margin-left: 18px;
      height: 20px;
      width: 100px;
      font-size: 12px; }
    body #main-content #filter #add-filter {
      left: 12%;
      margin: 24px 10px 0 0;
      border-radius: 2px;
      height: 35px;
      width: 35px;
      border: none; }
      body #main-content #filter #add-filter:hover {
        cursor: pointer; }
      body #main-content #filter #add-filter svg {
        height: 19px;
        width: 19px; }
    body #main-content #article-list {
      grid-template-columns: 1fr; }
      body #main-content #article-list #right-column,
      body #main-content #article-list #left-column {
        width: 0; }
        body #main-content #article-list #right-column .article,
        body #main-content #article-list #left-column .article {
          margin-bottom: 20px;
          width: 200px;
          height: 68px; }
          body #main-content #article-list #right-column .article .edit,
          body #main-content #article-list #left-column .article .edit {
            bottom: 75px; }
          body #main-content #article-list #right-column .article .delete,
          body #main-content #article-list #left-column .article .delete {
            bottom: 65px; }
          body #main-content #article-list #right-column .article .article-title,
          body #main-content #article-list #left-column .article .article-title {
            font-size: 0.7rem; } }
  @media only screen and (min-width: 800px) and (max-width: 900px) {
    body #main-content #filter svg#funnel {
      margin: 30px 10px 0 20px;
      height: 19px; }
    body #main-content #filter p {
      font-weight: 500;
      font-size: 0.87rem;
      margin-top: 32px; }
    body #main-content #filter input {
      margin-top: 29px;
      height: 20px;
      width: 180px;
      font-size: 12px; }
    body #main-content #filter #add-filter {
      left: 18%;
      margin: 24px 10px 0 0;
      border-radius: 2px;
      height: 35px;
      width: 35px;
      border: none; }
      body #main-content #filter #add-filter:hover {
        cursor: pointer; }
      body #main-content #filter #add-filter svg {
        height: 19px;
        width: 19px; }
    body #main-content #article-list {
      grid-template-columns: 1fr 1fr; }
      body #main-content #article-list #right-column,
      body #main-content #article-list #left-column {
        width: 0; }
        body #main-content #article-list #right-column .article,
        body #main-content #article-list #left-column .article {
          margin-bottom: 20px;
          width: 135px;
          height: 68px; }
          body #main-content #article-list #right-column .article .edit,
          body #main-content #article-list #left-column .article .edit {
            bottom: 75px; }
          body #main-content #article-list #right-column .article .delete,
          body #main-content #article-list #left-column .article .delete {
            bottom: 65px; }
          body #main-content #article-list #right-column .article .article-title,
          body #main-content #article-list #left-column .article .article-title {
            font-size: 0.7rem; } }
  body #convo-section {
    grid-row: 2;
    grid-column: 3;
    width: 360px;
    height: 1900px;
    list-style-type: none;
    border-left: 2.8px solid #dcdcdc; }
    body #convo-section .tabs ul {
      display: flex;
      justify-content: space-around;
      padding: 0px; }
      body #convo-section .tabs ul li {
        font-size: 0.9375rem;
        width: 50%;
        height: 80px;
        border-bottom: 2.8px solid #dcdcdc;
        color: #a9a9a9;
        text-align: center; }
        body #convo-section .tabs ul li p {
          padding: 30px 0 0px 0; }
        body #convo-section .tabs ul li.active {
          color: #000;
          font-weight: 500;
          border-bottom: 2.8px solid #27a678; }
        body #convo-section .tabs ul li:hover {
          cursor: pointer; }
    body #convo-section .individ-convos {
      padding: 20px 0 0 25px; }
      body #convo-section .individ-convos .conversation {
        height: 68px;
        width: 80px;
        display: flex; }
        body #convo-section .individ-convos .conversation .user-img {
          border-radius: 50%;
          height: 50px;
          width: 50px;
          background-color: #dcdcdc;
          margin: 0 15px 0 3px; }
          body #convo-section .individ-convos .conversation .user-img svg {
            padding: 12px 13px; }
        body #convo-section .individ-convos .conversation .user-details {
          height: 40px;
          margin-top: 3px; }
          body #convo-section .individ-convos .conversation .user-details .user-name {
            font-weight: bold;
            font-size: 0.8125rem;
            white-space: nowrap; }
          body #convo-section .individ-convos .conversation .user-details .last-convo-date {
            font-size: 0.67rem;
            color: #a9a9a9;
            white-space: nowrap; }
          body #convo-section .individ-convos .conversation .user-details .chevron {
            height: 20px;
            position: relative;
            left: 220px;
            bottom: 30px; }
        body #convo-section .individ-convos .conversation:hover {
          cursor: pointer; }
    body #convo-section #add-convo {
      border: none;
      border-radius: 2px;
      background-color: #27a678;
      color: #fff;
      height: 55px;
      width: 300px;
      margin: 10px 0px 0px 25px;
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: 1.5px; }
      body #convo-section #add-convo span {
        vertical-align: middle;
        text-align: center;
        padding-bottom: 20px; }
        body #convo-section #add-convo span svg {
          position: relative;
          top: 10%;
          right: 3.5%; }
      body #convo-section #add-convo:hover {
        cursor: pointer; }
  @media only screen and (min-width: 690px) and (max-width: 800px) {
    body #convo-section {
      width: 220px; }
      body #convo-section .individ-convos {
        padding: 20px 0 0 16px; }
        body #convo-section .individ-convos .conversation {
          width: 50px;
          height: 68px; }
          body #convo-section .individ-convos .conversation .user-img {
            border-radius: 50%;
            height: 30px;
            width: 30px; }
            body #convo-section .individ-convos .conversation .user-img svg {
              height: 15px;
              width: 15px;
              padding: 8px 8px; }
          body #convo-section .individ-convos .conversation .user-details .chevron {
            left: 120px;
            height: 15px; }
      body #convo-section #add-convo {
        width: 180px;
        font-size: 0.75rem;
        letter-spacing: 0; }
        body #convo-section #add-convo span svg {
          height: 20px;
          width: 20px;
          right: 1%; } }
  @media only screen and (min-width: 800px) and (max-width: 900px) {
    body #convo-section {
      width: 220px; }
      body #convo-section .individ-convos {
        padding: 20px 0 0 16px; }
        body #convo-section .individ-convos .conversation {
          width: 50px;
          height: 68px; }
          body #convo-section .individ-convos .conversation .user-img {
            border-radius: 50%;
            height: 30px;
            width: 30px; }
            body #convo-section .individ-convos .conversation .user-img svg {
              height: 15px;
              width: 15px;
              padding: 8px 8px; }
          body #convo-section .individ-convos .conversation .user-details .chevron {
            left: 120px;
            height: 15px; }
      body #convo-section #add-convo {
        width: 180px;
        font-size: 0.75rem;
        letter-spacing: 0; }
        body #convo-section #add-convo span svg {
          height: 20px;
          width: 20px;
          right: 1%; } }
