//Breakpoints
$xs: 400px;
$s: 600px;
$m: 800px;
$l: 1200px;
$xl: 1400px;

//Color Variables
$sidebar: #000b18;
$dark-grey: #a9a9a9;
$active-white: #fff;
$header-grey: #dcdcdc;
$green: #27a678;
$black: #000;
$yellow: #ddcb37;

//Responsive center
// @media screen and (max-width: 1440px) {
//   body {
//     #sidebar {
//       #logout {
//         top: 260px;
//       }
//       svg {
//         height: 20px;
//       }
//       &:hover {
//         cursor: pointer;
//       }
//     }
//     #main-content {
//       #filter {
//         #add-filter {
//           left: 50%;
//         }
//       }
//       #article-list {
//         #right-column,
//         #left-column {
//           width: 0;
//           .article {
//             margin-bottom: 20px;
//             width: 320px;
//             .article-title {
//               font-size: 17px;
//             }
//             .edit {
//               bottom: 78px;
//             }
//             .delete {
//               bottom: 68px;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 1300px) {
//   body {
//     #sidebar {
//       // #logout {
//       //   top: 54%;
//       // }
//       svg {
//         height: 20px;
//       }
//       &:hover {
//         cursor: pointer;
//       }
//     }
//     #main-content {
//       #filter {
//         #add-filter {
//           left: 42%;
//         }
//       }
//       #article-list {
//         #right-column,
//         #left-column {
//           width: 0;
//           .article {
//             margin-bottom: 20px;
//             width: 270px;
//             .article-title {
//               font-size: 17px;
//             }
//             .edit {
//               bottom: 78px;
//             }
//             .delete {
//               bottom: 68px;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 1280px) {
//   body {
//     #sidebar {
//       // #logout {
//       //   top: 55%;
//       // }
//       svg {
//         height: 20px;
//       }
//       &:hover {
//         cursor: pointer;
//       }
//     }
//     #main-content {
//       #filter {
//         #add-filter {
//           left: 42%;
//         }
//       }
//       #article-list {
//         #right-column,
//         #left-column {
//           width: 0;
//           .article {
//             margin-bottom: 20px;
//             width: 260px;
//             .article-title {
//               font-size: 17px;
//               #right-column,
//               #left-column {
//                 width: 0;
//                 .article {
//                   margin-bottom: 20px;
//                   width: 250px;
//                   .article-title {
//                     font-size: 17px;
//                   }
//                   .edit {
//                     bottom: 78px;
//                   }
//                   .delete {
//                     bottom: 68px;
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
// @media screen and (max-width: 1080px) {
//   body {
//     #sidebar {
//       // #logout {
//       //   top: 53%;
//       // }
//       svg {
//         height: 20px;
//       }
//       &:hover {
//         cursor: pointer;
//       }
//     }
//     #main-content {
//       #filter {
//         #add-filter {
//           left: 20%;
//         }
//       }
//       #article-list {
//         #right-column,
//         #left-column {
//           width: 0;
//           .article {
//             margin-bottom: 20px;
//             width: 170px;
//             height: 68px;
//             .article-title {
//               font-size: 0.8rem;
//             }
//           }
//         }
//       }
//     }
//     #convo-section {
//       width: 320px;
//       #add-convo {
//         width: 280px;
//       }
//     }
//   }
// }

@media screen and (max-width: 980px) {
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*--- Mobile portrait ---*/
}
@media only screen and (min-width: 480px) and (max-width: 595px) {
  /*--- Mobile landscape ---*/
}
@media only screen and (min-width: 595px) and (max-width: 690px) {
  /*--- Small tablet portrait ---*/
}
@media only screen and (min-width: 690px) and (max-width: 800px) {
  /*--- Tablet portrait ---*/
  body {
    grid-template-columns: 150px auto 220px;
    #sidebar {
      // #logout {
      //   top: 48%;
      // }
      width: 150px;
      #logo {
        width: 65%;
      }
      ul {
        margin-top: 0px;
        padding-left: 15px;
        list-style-type: none;
        li {
          vertical-align: middle;
          font-weight: 500;
          font-size: 0.77rem;
          svg {
            position: relative;
            top: 16px;
            margin-right: 14px;
            height: 50px;
          }
          &.active {
            color: $active-white;
          }
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
      svg {
        height: 17px;
      }
      &:hover {
        cursor: pointer;
      }
      #logout {
        position: relative;
        top: 520px;
        // margin-top: 500px;
        padding-left: 15px;
        font-size: 0.77rem;
        svg {
          position: relative;
          top: 5px;
          margin-right: 10px;
        }
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
    #header {
      display: flex;
      justify-content: space-between;
      grid-column: 2 / 4;
      grid-row: 1;
      width: 100%;
      height: 80px;
      background-color: $header-grey;
      #menu {
        margin: 26px 15px 15px 15px;
      }
      :hover {
        cursor: pointer;
      }
      .header-icons {
        svg {
          padding: 0 5px 4px 0;
          margin: 25px 30px 15px 2px;
        }
      }
    }
    #main-content {
      #filter {
        svg#funnel {
          margin: 30px 10px 0 20px;
          height: 19px;
        }
        p {
          font-weight: 500;
          font-size: 0.87rem;
          margin-top: 32px;
        }
        input {
          margin-top: 29px;
          margin-left: 18px;
          height: 20px;
          width: 100px;
          font-size: 12px;
        }
        #add-filter {
          left: 12%;
          margin: 24px 10px 0 0;
          border-radius: 2px;
          height: 35px;
          width: 35px;
          border: none;
          &:hover {
            cursor: pointer;
          }
          svg {
            height: 19px;
            width: 19px;
          }
        }
      }
      #article-list {
        grid-template-columns: 1fr;
        #right-column,
        #left-column {
          width: 0;
          .article {
            .edit {
              bottom: 75px;
            }
            .delete {
              bottom: 65px;
            }
            margin-bottom: 20px;
            width: 200px;
            height: 68px;
            .article-title {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
    #convo-section {
      width: 220px;
      .individ-convos {
        padding: 20px 0 0 16px;
        .conversation {
          width: 50px;
          height: 68px;
          .user-img {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            svg {
              height: 15px;
              width: 15px;
              padding: 8px 8px;
            }
          }
          .user-details {
            .chevron {
              left: 120px;
              height: 15px;
            }
          }
        }
      }
      #add-convo {
        width: 180px;
        font-size: 0.75rem;
        letter-spacing: 0;
        span {
          svg {
            height: 20px;
            width: 20px;
            right: 1%;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 800px) and (max-width: 900px) {
  /*--- Small tablet landscape ---*/
  body {
    grid-template-columns: 150px auto 220px;
    #sidebar {
      #logout {
        top: 48%;
      }
      width: 150px;
      #logo {
        width: 65%;
      }
      ul {
        margin-top: 0px;
        padding-left: 15px;
        list-style-type: none;
        li {
          vertical-align: middle;
          font-weight: 500;
          font-size: 0.77rem;
          svg {
            position: relative;
            top: 16px;
            margin-right: 14px;
            height: 50px;
          }
          &.active {
            color: $active-white;
          }
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
      svg {
        height: 17px;
      }
      &:hover {
        cursor: pointer;
      }
      #logout {
        position: relative;
        top: 520px;
        // margin-top: 500px;
        padding-left: 15px;
        font-size: 0.77rem;
        svg {
          position: relative;
          top: 5px;
          margin-right: 10px;
        }
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
    #header {
      display: flex;
      justify-content: space-between;
      grid-column: 2 / 4;
      grid-row: 1;
      width: 100%;
      height: 80px;
      background-color: $header-grey;
      #menu {
        margin: 26px 15px 15px 15px;
      }
      :hover {
        cursor: pointer;
      }
      .header-icons {
        svg {
          padding: 0 5px 4px 0;
          margin: 25px 30px 15px 2px;
        }
      }
    }
    #main-content {
      #filter {
        svg#funnel {
          margin: 30px 10px 0 20px;
          height: 19px;
        }
        p {
          font-weight: 500;
          font-size: 0.87rem;
          margin-top: 32px;
        }
        input {
          margin-top: 29px;
          // margin-left: 38px;
          height: 20px;
          width: 180px;
          font-size: 12px;
        }
        #add-filter {
          left: 18%;
          margin: 24px 10px 0 0;
          border-radius: 2px;
          height: 35px;
          width: 35px;
          border: none;
          &:hover {
            cursor: pointer;
          }
          svg {
            height: 19px;
            width: 19px;
          }
        }
      }
      #article-list {
        grid-template-columns: 1fr 1fr;
        #right-column,
        #left-column {
          width: 0;
          .article {
            .edit {
              bottom: 75px;
            }
            .delete {
              bottom: 65px;
            }
            margin-bottom: 20px;
            width: 135px;
            height: 68px;
            .article-title {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
    #convo-section {
      width: 220px;
      .individ-convos {
        padding: 20px 0 0 16px;
        .conversation {
          width: 50px;
          height: 68px;
          .user-img {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            svg {
              height: 15px;
              width: 15px;
              padding: 8px 8px;
            }
          }
          .user-details {
            .chevron {
              left: 120px;
              height: 15px;
            }
          }
        }
      }
      #add-convo {
        width: 180px;
        font-size: 0.75rem;
        letter-spacing: 0;
        span {
          svg {
            height: 20px;
            width: 20px;
            right: 1%;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1224px) {
  /*--- Tablet landscape --- */
}
